/* ---------------------------- * 
 *            FONT              *
 * ---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* ---------------------------- * 
 *       GENERALS STYLE         *
 * ---------------------------- */

:root {
     --roboto: 'Roboto', sans-serif;
     --white: rgba(255, 255, 255);
     --letter-color: #5757577e;
     --color-blue: #3866f2;
}

*,
*::after,
*::before {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

body {
     font-family: var(--roboto);
     min-height: 100vh;
     display: flex;
     background-image: url(../img/fondo.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: rgba(0, 0, 0, 0.416);
     background-blend-mode: overlay;
     padding: 10px;
}

/* ---------------------------- * 
 *            FORM              *
 * ---------------------------- */

.content {
     margin: auto;
     border-radius: 20px;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.901);

}

.content__title {
     text-align: center;
     font-weight: 700;
     font-size: 25px;
     margin-top: 20px;
}

.content__color {
     color: var(--color-blue);
}

.content__paragrahp {
     text-align: center;
     margin-top: 20px;
     font-weight: 300;
     font-size: 20px;
}

.form {
     width: 100%;
     margin-top: 10px;
     border-radius: 10px;
     padding: 20px;
}

.form__title {
     display: none;
}

.form__wrapper {
     margin-top: 20px;
     position: relative;
}

.form__input,
.form__option {
     display: block;
     width: 100%;
     border: none;
     outline: none;
     padding: 15px 10px;
     border-bottom: 1px solid var(--letter-color);
     font-size: 18px;
     background: none;
     color: var(--letter-color);
}

.form__option {
     padding-left: 0;
     font-size: 18px;
}

.form__label {
     position: absolute;
     top: 0;
     left: 0px;
     transform: translateY(30px);
     color: var(--letter-color);
     transition: transform .5s;
     font-size: 18px;
     font-weight: 300;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
     transform: translateY(-12px) scale(.8);
     left: 0;
     color: var(--color-blue);
}

.form__line {
     position: absolute;
     height: 1.5px;
     background-color: var(--color-blue);
     bottom: 0;
     left: 0;
     width: 100%;
     transform: scaleX(0);
     transition: transform .5s;
}


.form__input:focus~.form__line {
     transform: scaleX(1);
}

.form__btn {
     border: 0;
     background: none;
     text-transform: uppercase;
     background-color: var(--color-blue);
     color: var(--white);
     width: 100%;
     padding: 20px 15px;
     margin-top: 50px;
     border-radius: 10px;
     cursor: pointer;
}

.form__btn:is(:hover, :focus) {
     background-color: #144bf1;
}



/* --------------------------- * 
*            MEDIA QUERY       *
* ---------------------------- */

@media (min-width: 576px) {

     /* ---------------------------- * 
     *            FORM              *
     * ---------------------------- */


     .content {
          max-width: 500px;
          padding: 20px 0;
     }

     .form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 25px;
          max-width: 600px;
          margin: 0 auto;
     }

     .form__wrapper-grid {
          grid-column: 1/-1;
     }


     .form__btn {
          grid-column: 1/-1;
          max-width: 350px;
          margin: auto;
     }
}